<header class="header">
  <div class="container container--header">
    {% include "@root/widgets/test/test.twig" %}
    <div class="header__counters">
      {% for count in data.counters %}
        <div class="header__counter" id="{{ count.id }}">
          <svg class="header__counter-icon">
            <use xlink:href="/assets/svg/sprite.svg#{{ count.icon }}"></use>
          </svg>
          <span class="header__count">0</span>
        </div>
      {% endfor %}
    </div>
  </div>
</header>
