$parent: 'header';

@include block($parent) {
  background-color: $color-white;
  padding: rem(14) 0 rem(15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px -1px 0px 0px $color-whisper inset;

  @include element($parent, 'counters') {
    display: flex;
    align-items: center;
    gap: 0 rem(26);
  }

  @include element($parent, 'counter') {
    display: flex;
    align-items: center;
    gap: 0 rem(10);
  }

  @include element($parent, 'counter-icon') {
    width: rem(18);
    height: rem(18);
  }

  @include element($parent, 'count') {
    font-size: rem(14);
    line-height: 150%;
    color: $color-grey;
  }

  @include modifier($parent, 'test') {
    width: 100%;
  }
}
