$parent: 'gallery';

@include block($parent){
  background-color: $color-lavender;
  padding: rem(24) 0;

  @include element($parent, 'title'){
    padding: 0 $padding-mobile;
    margin-bottom: rem(16);

    @include min-media('t'){
      padding: 0 $padding-tablet;
      margin-bottom: rem(24);
    }

    @include min-media('xxxl'){
      padding: 0;
      max-width: rem(1600);
      margin: 0 auto rem(24);
    }
  }

  @include element($parent, 'slide'){
    max-width: calc(100% - rem(30));
    height: rem(170);
    margin-right: rem(8);

    @include min-media('t'){
       max-width: calc(100% - rem(80));
       height: rem(300);
       margin-right: rem(16);
    }

    @include min-media('d'){
      height: rem(410)
    }

    @include min-media('xxxl'){
      max-width: calc(100% - rem(320));
      height: rem(548);
    }
  }

  @include element($parent, 'description'){
    position: absolute;
    left: 50%;
    bottom: rem(-64);
    transform: translateX(-50%);
  }

  @include element($parent, 'slider-controller'){
    display: none;

    @include min-media('d'){
      display: flex;
      justify-content: space-between;
      padding: rem(16) rem(40) 0;
      align-items: center;
    }

    @include min-media('xxxl'){
      max-width: rem(1600);
      margin: 0 auto;
      padding: rem(12) 0 0;
    }

    @include element($parent, 'buttons'){
      display: flex;
    }

    @include element($parent, 'slider-btn-prev'){
      transform: rotate(180deg);
      margin-right: rem(8);
    }
  }

  @include element($parent, 'modal'){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
