<div class="gallery">
  {% if data.title %}
    <div class="gallery__title h2">{{data.title}}</div>
  {% endif %}
  <div class="swiper gallery__swiper">
    <div class="swiper-wrapper gallery__swiper-wrapper">
      {% for item in data.slider %}
        <div data-popup="{{ data.api }}" class="swiper-slide gallery__slide open-popup" data-index="{{loop.index0}}">
          {% include "@view-root/atoms/picture/picture.twig" with {data: item, class: ''} only %}
          <div class="gallery__description t3">{{item.description}}</div>
        </div>
      {% endfor %}
    </div>
    {% if data.slider | length > 1 %}
      <div class="gallery__slider-controller">
        <div class="gallery__slider-pagination h2"></div>
        <div class="gallery__buttons">
          {% include "@view-root/atoms/button/button-arrow/button-arrow.twig" with {class: 'gallery__slider-btn-prev'} only %}
          {% include "@view-root/atoms/button/button-arrow/button-arrow.twig" with {class: 'gallery__slider-btn-next'} only %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
