<div class="heading {{class}}">
  {% if data.labels %}
    <div class="heading__tags">
      {% for item in data.labels %}
        {% include "@view-root/atoms/labels/labels.twig" with {data: item, class: 'heading__tag'} only %}
      {% endfor %}
    </div>
  {% endif %}
  {% if data.title %}
    <div class="heading__name h2">
      {{data.title}}
    </div>
  {% endif %}
</div>
