$parent: "heading";

@include block($parent) {
  grid-area: grid-title;
  height: fit-content;

  @include element($parent, 'tags') {
    display: flex;
    flex-wrap: wrap;

    &:last-of-type{
      margin-right: 0;
    }

    @include element($parent, 'tag') {
      margin-right: rem(10);

      &:last-of-type{
        margin-right: 0;
      }
    }

  }

  @include element($parent, 'name') {
    margin-top: rem(12);

    @include min-media('d') {
      min-height: rem(96);
      margin-top: rem(20);
    }

  }
}
