{% block styles %}
  <link rel="stylesheet" href="/assets/css/index.min.css">
{% endblock %}

{% extends "@root/layout/base.twig" %}

{% block header %}
  {% include "@root/widgets/header/header.twig" with { data: header } %}
{% endblock %}

{% block content %}
  {% if firstBlockName %}
    {% include "@root/widgets/test/test.twig" with { data: firstBlockName } only %}
  {% endif %}

{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=b8d4f8d0-d89a-480c-b1e5-738c72776dbf&lang=ru_RU"></script>
  <script src="/assets/js/index.min.js"></script>
{% endblock %}
