@import "../../../molecules/heading/heading.scss";

$parent: 'card-chars';

@include block($parent) {
  padding: rem(24) 0;

  @include min-media(t) {
    padding: rem(40);
  }

  @include min-media('d') {
    padding: 0;
    display: grid;
    grid-template-areas: "grid-img grid-title"
                         "grid-img grid-list";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @include element($parent, 'hidding') {
    grid-area: grid-title;
    margin-bottom: rem(16);
    padding: 0 rem(14);

    @include min-media('t') {
      margin-bottom: rem(24);
      padding: 0;
    }

    @include min-media('d') {
      margin: rem(32) rem(128) 0 rem(32);
    }

    @include min-media('xxxl') {
      margin: rem(64) rem(160) 0 rem(64);
    }
  }

  @include element($parent, 'img') {
    display: block;
    grid-area: grid-img;
    width: 100%;
    height: rem(246);

    @include min-media('t') {
      height: rem(394);
    }

    @include min-media('d') {
      height: auto;
    }
  }

  @include element($parent, 'list') {
    display: flex;
    flex-direction: column;
    grid-area: grid-list;
    margin: rem(14) 0 0 rem(14);
    padding-right: rem(10);
    overflow-y: auto;
    scrollbar-color: $color-la-rioja rgba($color-white, 0.4);
    scrollbar-width: thin;
    height: rem(230);

    @include min-media('t') {
      margin: rem(32) rem(-32) 0 0;
      padding-right: rem(40);
      height: rem(300);
    }

    @include min-media('d') {
      margin: rem(40) rem(8) rem(25) rem(32);
      padding-right: rem(117);
      min-height: rem(375);
      align-self: end;
    }

    @include min-media('xxxl') {
      margin: rem(87) rem(8) rem(64) rem(64);
      min-height: rem(487);
    }

    &::-webkit-scrollbar {
      width: 3px;
      height: rem(8);
      background: rgba($color-white, 0.4);
      border-radius: rem(10);
    }

    &::-webkit-scrollbar-thumb {
      height: rem(60);
      background-color: $color-la-rioja;
      border-radius: rem(10);
    }

    &::-moz-scrollbar-thumb {
      border-radius: rem(10);
    }

    @include element($parent, 'item'){

      margin-bottom: rem(12);

      &:last-of-type{
        margin-bottom: 0;
      }

      @include min-media('t'){
        margin-bottom: rem(20);

        &:last-of-type{
          margin-bottom: 0;
        }
      }

      @include min-media('xxxl'){
        margin-bottom: rem(48);

        &:last-of-type{
          margin-bottom: 0;
        }
      }

    }
  }

  @include element($parent, 'value') {
    display: block;

    @include modifier($parent, 'big') {
      margin-bottom: 4px;

      @include min-media('d') {
        margin-bottom: rem(8)
      }
    }
  }
}
