<div class="card-chars {{class}}">
  {% if data.heading %}
    {% include "@view-root/molecules/heading/heading.twig" with {data: data.heading, class: 'card-chars__hidding'} only %}
  {% endif %}
  {% if data.img %}
    {% include "@view-root/atoms/picture/picture.twig" with {data: data.img, class: 'card-chars__img'} only %}
  {% endif %}
  {% if data.items %}
    <ul class="card-chars__list">
      {% for item in data.items %}
        <li class="card-chars__item">
          {% if item.title %}
            <span class="card-chars__value card-chars__value--big h4">{{item.title}}</span>
          {% endif %}
          {% if item.value %}
            <span class="card-chars__value t4">{{item.value}}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
