* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  // @media screen and (max-width: 374px) {
  //   font-size: 4.266vw;
  // }
}

.body {
  margin: 0;
  font-size: 16px;
  font-family: $font;
  display: flex;
  flex-direction: column;
  color: $color-night-rider;
  background-color: $color-ghost-white2;

  // Для сафари, убирает разный рендер шрифтов
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;

  padding: rem(70) 0 0;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: $font;
  outline: none;
  outline-offset: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}


.animation {
  transition: opacity $double-animation-time ease-out,
              transform $double-animation-time ease-out;
  opacity: 0;
  transform: translateY(100px);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}