.container {
  padding: 0 rem(16);

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(18);
  }

  &--map-block {
    display: flex;
    flex-direction: column;
    gap: rem(80);
    padding: 0 rem(10);
  }

  @include min-media('t') {
    padding: 0 rem(48);

    &--map-block {
      padding: 0 rem(40);
      gap: (120);
    }
  }

  @include min-media('d') {
    padding: 0;
    margin: 0 auto;
    width: rem(1080);

    &--map-block {
      width: rem(1200);
    }
  }

  @include min-media('xl') {
    width: rem(1240);
  }

  @include min-media('xxxl') {
    &--map-block {
      width: rem(1360);
    }
  }
}