@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans.ttf") format('truetype');
}

@font-face {
  font-family: "OpenSans-600";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/OpenSans-600.ttf") format('truetype');
}

@font-face {
  font-family: "OpenSans-700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-700.ttf") format('truetype');
}

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova.ttf") format('truetype');
}

@font-face {
  font-family: "ProximaNova-700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-700.ttf") format('truetype');
}