@import "src/assets/styles/media";
@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

.h {
  &1 {
    font-family: $font;
    font-weight: 600;
    font-size: rem(28);
    line-height: 140%;
    letter-spacing: 0.78px;
  }

  &2 {
    font-size: rem(20);
    line-height: 140%;
  }
}
