/** Fonts **/
$font: "OpenSans", system-ui, sans-serif;

/** Colors **/
$color-white: #fff;
$color-black: #000;
$color-bunker: #1d1f22;
$color-black-russian: #292A2D;
$color-la-rioja:  #C8D400;
$color-yellow:  #F1FF0F;
$color-lavender: #EEEEF0;
$color-charcoal: #444444;
$color-free-speech-red: #D40000;
// $color-grey: #7B7B7B;
$color-dark-turquoise: #04D3E3;
$color-ming: #3E7074;
$color-ghost-white2: #F9F9FA;
$color-curious-blue: #3579C1;
$color-very-light-grey: #CCCCCC;
$color-night-rider: #333333;
$color-grey: #888888;
$color-solitude: #E5ECF4;
$color-gainsboro: #D9D9D9;
$color-whisper: #E5E5E5;
$color-gainsboro2: #DDDDDD;
$color-white-smoke: #F2F2F2;
$color-nero: #1A1A1A;
$color-grey-chateau: #9A9C9F;
$color-very-light-grey: #C7C7C7;
$color-crimson: #DB0032;
$color-crimson2: #D0103A;
$color-dark-gray: #AAAAAA;
$cl-white-smoke: #F1F1F1;

/** Alfa colors **/
$color-white-03: rgba(255, 255, 255, 0.3);
$color-nero-08: rgba(23, 23, 23, 0.8);
$color-black-02: rgba(0, 0, 0, 0.2);
$color-black-077: rgba(0, 0, 0, 0.77);

/** Animation **/
$animation-time: 0.3s;
$double-animation-time: 0.6s;


/** Container **/
$padding-mobile: rem(14);
$padding-tablet: rem(40);
$padding-desktop-xl: rem(160);
